/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*--------------------------------------------------------------------- basic ---------------------------------------------------------------------*/
body {
     color: #666666;
     font-size: 14px;
     font-family: 'poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #ffffff;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #ffffff;
     text-decoration: none !important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #ffffff;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

/**-- heading section --**/
.main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}

.main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #114c7d;
     border-left: solid #38c8a8 10px;
     padding-left: 15px;
}

.main_heading h2 strong {
     background: #38c8a8;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}

.white_heading_main h2 {
     color: #fff;
}

.small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}

.small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #114c7d;
     font-weight: 400;
     font-size: 28px;
     background-image: url('../images/fevicon.png');
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}

.small_main_heading h2 strong {
     color: #38c8a8;
     font-weight: 600;
}

.main_bt {
     background: #38c8a8;
     color: #fff;
     padding: 8px 25px 8px 20px;
     float: left;
     font-size: 15px;
     font-weight: 300;
     border-left: solid #114c7d 5px;
     border-radius: 0;
}

a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}

.main_bt:hover,
.main_bt:focus {
     background: #114c7d;
     border-left: solid #38c8a8 5px;
     color: #fff;
}

.margin_top_50 {
     margin-top: 50px;
}

.margin_bottom_30_all {
     margin-bottom: 30px;
}

.text_align_center {
     text-align: center;
}

/*---------------------------- preloader area ----------------------------*/
.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}

/*--------------------------------------------------------------------- header ---------------------------------------------------------------------*/
header {
     min-height: 90px;
     background: #212020;
     padding: 15px 0;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 998;
}

header .container-fluid {
     max-width: 1850px;
}

.right_header_info {
     width: 100%;
     float: left;
     padding: 20px 0 0;
}

.right_header_info ul {
     list-style: none;
     padding: 0;
     margin: 0;
     float: right;
}

.right_header_info ul li {
     display: inline;
     font-size: 16px;
     margin-left: 45px;
     color: #eaeaea;
     font-weight: 400;
     float: left;
}

.right_header_info ul li a {
     color: #eaeaea;
     font-weight: 300;
}

.button_user a {
     float: left;
     min-width: 75px;
     height: 35px;
     text-align: center;
     line-height: 35px;
     position: relative;
     top: -3px;
     padding: 0 15px;
     margin: 0 2px;
}

.button_user a {
     float: left;
     min-width: 75px;
     height: 40px;
     text-align: center;
     line-height: 38px;
     position: relative;
     top: -7px;
     padding: 0 15px;
     margin: 0 2px;
     border: solid #eaeaea 1px;
}

.button_user a:hover,
.button_user a:focus,
.button_user a.active {
     background: #fa6f13;
     color: #fff;
     border-color: #fa6f13;
     color: #222;
}

#sidebarCollapse {
     background: transparent;
}

.slider_section {
     background: #212020;
     min-height: 30px;
     padding-top: 93px;
}

/** slider section **/
#main_slider {
     padding: 50px 0 20px;
}

.slider_section .container {
     width: 100%;
     max-width: 1920px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
}

.slider_cont {
     padding-left: 190px;
     float: left;
     margin: 100px 0 0;
}

.slider_cont h3 {
     font-size: 70px;
     font-weight: 600;
     color: #fff;
     line-height: 70px;
     letter-spacing: -2px;
}

.slider_cont p {
     font-size: 18px;
     color: #999;
     line-height: normal;
     font-weight: 300;
     margin-top: 15px;
     margin-bottom: 10px;
     padding-right: 30px;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
     width: 45px;
     height: 45px;
     background: #e1e0e0;
     opacity: 1;
     font-size: 30px;
     color: #212020;
     border-radius: 100%;
}

#main_slider a.carousel-control-prev {
     position: absolute;
     left: 50px;
     top: 36%;
}

#main_slider a.carousel-control-next {
     position: absolute;
     left: 50px;
     top: 52%;
}

.main_bt_border {
     background-color: var(--red);
     color: white;
     font-size: 18px;
     font-weight: 300;
     min-width: 150px;
     border: solid #fff 1px;
     float: left;
     text-align: center;
     min-height: 50px;
     line-height: 50px;
     margin-top: 20px;
}

.main_bt_border:hover,
.main_bt_border:focus {
     background: #e3d105;
     border-color: #e3d105;
     color: #222;
}

.theme_color {
     color: #ff5e00 !important;
     font-size: 30px;

}

.resip_section {
     background: #212020;
     margin-top: 0;
     padding: 60px 0px 50px 0px;
     border-top: solid rgba(255, 255, 255, .1) 1px;
     box-shadow: inset 0 10px 30px -16px #000;
}

.resip_section_w {
     background: #fff;
     color: #000;
     margin-top: 0;
     padding: 60px 0px 50px 0px;
     border-top: solid rgba(255, 255, 255, .1) 1px;
     box-shadow: inset 0 10px 30px -16px #000;
}

.ourheading h2 {
     font-size: 45px;
     font-weight: 500;
     line-height: 40px;
     color: #fff;
     padding-bottom: 38px;
}

.ourheading_w h2 {
     font-size: 45px;
     font-weight: 500;
     line-height: 40px;
     color: #000;
     padding-bottom: 38px;
}


.product_blog_cont {
     text-align: center;
     padding-top: 20px;
}

.product_blog_cont h3 {
     color: #fff;
     font-size: 22px;
     font-weight: 400;
     text-align: center;
}

.product_blog_cont h4 {
     color: #fff;
     font-size: 18px;
}

.product_blog_cont_w h4 {
     color: #000;
     font-size: 18px;
}

.bgbg {
     font-size: 33px !important;
}

.carousel-control-prev:focus,
.carousel-control-prev:hover {
     background: #fa6f13;
     color: #000;
}

.carousel-control-prev {
     left: -160px;
     color: #000;
     opacity: 1;
     width: 55px;
     height: 55px;
     background: #fff;
     top: 35%;
}

.carousel-control-next:focus,
.carousel-control-next:hover {
     background: #fa6f13;
     color: #000;
}

.carousel-control-next {
     right: -160px;
     color: #000;
     opacity: 1;
     width: 55px;
     height: 55px;
     background: #fff;
     top: 35%;
}

.owl-prev span {
     display: none;
}

.owl-prev {
     width: 50px;
     height: 45px;
     background: url(../images/icon.jpg) !important;
     float: left;
     opacity: 1;
     color: #000;
}

.owl-next {
     width: 50px;
     height: 45px;
     background: url(../images/-2.jpg) !important;
     float: right;
     opacity: 1;
     color: #000;
}

.owl-next:hover {
     background: #fa6f13;
     color: #000;
}

.owl-dots {
     display: none;
}

.owl-next span {
     display: none;
}

/** about **/
.about {
     padding-top: 150px;
}

.about .about_box {
     background: #191918;
     padding: 55px 40px;
}

.about .about_box h3 {
     font-size: 30px;
     line-height: 28px;
     color: #fff;
     font-weight: 500;
     padding: 0;
}

.about .about_box p {
     color: #ffff;
     font-size: 17px;
     line-height: 28px;
     padding: 30px 0px;
     font-weight: 400;
}

.about .about_box a {
     color: #fff;
     font-size: 22px;
     line-height: 29px;
}

.about .about_box a:hover {
     color: #fa6f13;
}

.about .about_img {
     height: 70%;
     background: #fa6f13;
     margin-top: 90px;
}

.about .about_img figure {
     margin: 0;
     margin-right: 0px;
     padding: 92px 0px 0px 60px;
     margin-right: -64px;
}

/** end about **/
/** blog **/
.blog {
     padding-top: 180px;
}

.title {
     text-align: center;
     padding-bottom: 60px;
}

.title h2 {
     font-size: 45px;
     font-weight: 500;
     line-height: 40px;
     color: #191918;
     padding: 20px 0px;
}

.title span {
     color: #191918;
     font-size: 17px;
     line-height: 20px;
     display: block;
}

.blog .blog_box {
     border: #a1a1a1 solid 1px;
     background: #fff;
}

.blog .blog_box .blog_img_box {
     background: #fff;
     box-shadow: #ddd 0px 3px 3px 0px;
}

.blog .blog_box .blog_img_box figure {
     margin: 0;
     position: relative;
}

.blog_img_box figure img {
     width: 100%;
}

.blog .blog_box .blog_img_box figure span {
     background: #000;
     top: 0;
     text-align: center;
     padding: 7px 10px;
     color: #fff;
     right: 0;
     left: 0;
     position: absolute;
     width: 100px;
}

.blog .blog_box h3 {
     color: #373535;
     font-size: 22px;
     line-height: 25px;
     font-weight: 500;
     padding: 0px 20px;
     padding-top: 30px;
     padding-bottom: 15px;
}

.blog .blog_box p {
     color: #525050;
     font-size: 17px;
     line-height: 28px;
     padding: 0px 20px;
     padding-bottom: 28px;
}

/** end blog **/
/** Our Client **/
.Client {
     padding-top: 90px;
}

.Client .title h2 {
     font-size: 45px;
     font-weight: 500;
     line-height: 40px;
     color: #191918;
     padding: 20px 0px;
     padding-bottom: 0px;
}

.Client .Client_box {
     background: #212020;
     border-radius: 20px;
     text-align: center;
     padding: 65px 50px;
}

.Client .Client_box h3 {
     color: #fff;
     font-size: 30px;
     line-height: 28px;
     padding: 25px 0px;
     padding-top: 32px;
}

.Client .Client_box p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     font-weight: 400;
}

.Client .Client_box i {
     padding-top: 20px;
     display: inline-block;
}

/** end Our Client **/
/*--------------------------------------------------------------------- footer ---------------------------------------------------------------------*/
.footer {
     background: #fa6f13;
     padding-top: 90px;
     margin-top: 90px;
}

.footer h2 {
     color: #000;
     font-size: 40px;
     font-weight: 500;
     padding-left: 223px;
     padding-bottom: 0px;
}

.white {
     color: #fff;
     font-weight: 500;
}

.main_form {
     padding-top: 30px;
     padding-left: 223px;
}

.form-control {
     border: #fff solid 2px;
     border-radius: inherit;
     margin-bottom: 25px;
     padding: 15px 20px;
     font-family: poppins;
}

.form-control:focus {
     box-shadow: inherit;
     border: #fff solid 2px !important;
}

.textarea {
     font-family: poppins;
     border: #fff solid 2px;
     margin-bottom: 25px;
     padding: 15px 20px;
     width: 100%;
     padding-top: 40px;
}

.send {
     font-family: poppins;
     float: left;
     margin: 0 auto;
     display: block;
     background: #fff;
     color: #000;
     max-width: 165px;
     padding: 13px 0px;
     width: 100%;
     font-size: 18px;
}

.send:hover {
     background: #000;
     color: #fff;
}

.footer .img-box {
     padding-right: 25px;
}

.footer_logo {
     margin-top: 40px;
     text-align: center;
     border-bottom: #ddd solid 1px;
     padding-bottom: 15px;
     margin-bottom: 15px;
}

ul.lik {
     text-align: center;
     margin-top: 10px;
}

ul.lik li {
     display: inline-block;
}

ul.lik li a {
     color: #292323;
     font-size: 17px;
     line-height: 27px;
     padding: 0px 25px;
     font-weight: 500;
}

ul.lik li a:hover {
     color: #fff;
}

ul.lik li.active a {
     color: #fff;
}

.new {
     text-align: center;
     margin-top: 40px;
}

.new h3 {
     color: #fff;
     font-size: 22px;
     font-weight: 500;
     display: inline-block;
     padding-right: 15px;
}

.newtt p {
     color: #fff;
     text-align: center;
     margin-top: 35px;
}

.newtetter {
     display: inline-block;
}

.newtetter .tetter {
     padding: 9px 20px;
     border-radius: inherit;
     border: indianred
}

.submit {
     background: #070100;
     margin-left: -3px;
     padding: 9px 50px;
     color: #fff;
}

.submit:hover {
     background: #ddd;
     color: #000;
}

.footer .img-box figure {
     margin: 0px;
}

.footer .img-box figure img {
     width: 100%;
}

.copyright {
     background: #fff;
     margin-top: 90px;
}

.copyright p {
     color: #000;
     text-align: center;
     padding: 25px 0px;
     font-size: 17px;
}

.copyright a:hover {
     color: #fa6f13;
}

.owl-dot {
     background: #15cfe5 !important;
     width: 25px;
     height: 25px;
     margin-bottom: 25px !important;
     border-radius: 25px;
     margin: 0px 5px;
     margin-bottom: 0px;
}

/*--Second Option Footer--*/

.sectionF {
     width: 100%;
     display: inline-block;
     background: white;
     height: 30vh;
     text-align: center;
     font-size: 22px;
     font-weight: 700;
     text-decoration: underline;
}

.footer-distributed {
     background-color: #292c2f;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
     box-sizing: border-box;
     width: 100%;
     text-align: left;
     font: normal 16px sans-serif;
     padding: 45px 50px;
}

.footer-distributed .footer-left p {
     color: #8f9296;
     font-size: 14px;
     margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
     font-size: 18px;
     font-weight: bold;
     color: #ffffff;
     margin: 0 0 10px;
     padding: 0;
     transition: ease .25s;
}

.footer-distributed p.footer-links a {
     display: inline-block;
     line-height: 1.8;
     text-decoration: none;
     color: inherit;
     transition: ease .25s;
}

.footer-distributed .footer-links a:before {
     content: "·";
     font-size: 20px;
     left: 0;
     color: #fff;
     display: inline-block;
     padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
     content: none;
}

.footer-distributed .footer-right {
     float: right;
     margin-top: 6px;
     max-width: 180px;
}

.footer-distributed .footer-right a {
     display: inline-block;
     width: 35px;
     height: 35px;
     background-color: #33383b;
     border-radius: 2px;
     font-size: 20px;
     color: #ffffff;
     text-align: center;
     line-height: 35px;
     margin-left: 3px;
     transition: all .25s;
}

.footer-distributed .footer-right a:hover {
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
     text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {

     .footer-distributed .footer-left,
     .footer-distributed .footer-right {
          text-align: center;
     }

     .footer-distributed .footer-right {
          float: none;
          margin: 0 auto 20px;
     }

     .footer-distributed .footer-left p.footer-links {
          line-height: 1.8;
     }
}

/* --------------------------------------------------- SIDEBAR STYLE ----------------------------------------------------- */
#sidebar {
     width: 280px;
     position: fixed;
     top: 0;
     left: -280px;
     height: 100vh;
     z-index: 999;
     background: #fff;
     color: #fff;
     transition: all 0.3s;
     overflow-y: scroll;
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
     left: 0;
}

#dismiss {
     width: 35px;
     height: 35px;
     line-height: 34px;
     text-align: center;
     background: #111;
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
     -webkit-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}

#dismiss:hover {
     background: #111;
     color: #fff;
}

.overlay {
     display: none;
     position: fixed;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.7);
     z-index: 998;
     opacity: 0;
     transition: all 0.5s ease-in-out;
}

.overlay.active {
     display: block;
     opacity: 1;
}

#sidebarCollapse {
     background: transparent;
     padding: 0;
     border: none;
}

#sidebar .sidebar-header {
     padding: 20px;
     background: #6d7fcc;
}

#sidebar ul.components {
     padding: 55px 0;
}

#sidebar ul p {
     color: #fff;
     padding: 10px;
}

#sidebar ul li a {
     padding: 10px 25px;
     font-size: 1.3em;
     display: block;
     font-weight: 300;
}

#sidebar ul li a:hover {
     color: #fff;
     background: #fa6f13;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
     color: #fff;
     background: #fa6f13;
}

a[data-toggle="collapse"] {
     position: relative;
}

.dropdown-toggle::after {
     display: block;
     position: absolute;
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
}

ul ul a {
     font-size: 0.9em !important;
     padding-left: 30px !important;
     background: #6d7fcc;
}

ul.CTAs {
     padding: 20px;
}

ul.CTAs a {
     text-align: center;
     font-size: 0.9em !important;
     display: block;
     border-radius: 5px;
     margin-bottom: 5px;
}

a.download {
     background: #fff;
     color: #7386D5;
}

a.article,
a.article:hover {
     background: #6d7fcc !important;
     color: #fff !important;
}

/*--------------------------------------------------------------------- ener page css ---------------------------------------------------------------------*/
.bg_bg {
     background: url(../images/bg.jpg);
}

.yellow_bg .title h2 {
     font-weight: bold;
     color: #fff;
     font-weight: 500;
}

.yellow_bg {
     background-color: #fa6f13;
     padding: 40px 0px;
     margin-top: 90px;
}

.yellow_bg .title {
     padding-bottom: 0px;
     text-align: center;
}

.about_page .about span {
     padding-top: 15px;
}

.about_page .footer {
     margin-top: 180px;
}

.blog_page .blog {
     padding-top: 90px;
}

.blog_page .blog span {
     padding-top: 15px;
}

.yellow_bg .title h2 {
     font-weight: bold;
     color: #fff;
     font-weight: 500;
}


/*---------Ubicaciones tiendas--------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

body {
     background-color: #eee;
}

#generic_price_table {
     background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
     background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
     background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
     border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
     color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
     color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
     color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
     color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
     color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li {
     color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
     color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
     background-color: #E4E4E4;
     border-left: 5px solid #eb5317;
}

#generic_price_table .generic_content .generic_price_btn a {
     border: 1px solid #dd631c;
     color: #eb5317;
}

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
     border-color: #eb5317 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eb5317;
     color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
     color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
     background-color: #eb5317;
     color: #fff;
}

#generic_price_table {
     margin: 50px 0 50px 0;
     font-family: 'Raleway', sans-serif;
}

.row .table {
     padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content {
     overflow: hidden;
     position: relative;
     text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
     margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content {
     margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
     border-style: solid;
     border-width: 90px 1411px 23px 399px;
     position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head {
     padding-top: 40px;
     position: relative;
     z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
     font-family: "Raleway", sans-serif;
     font-size: 28px;
     font-weight: 400;
     letter-spacing: 2px;
     margin: 0;
     padding: 0;
     text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
     padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
     display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
     display: inline-block;
     font-family: "Lato", sans-serif;
     font-size: 28px;
     font-weight: 400;
     vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
     font-family: "Lato", sans-serif;
     font-size: 60px;
     font-weight: 300;
     letter-spacing: -2px;
     line-height: 60px;
     padding: 0;
     vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
     display: inline-block;
     font-family: "Lato", sans-serif;
     font-size: 24px;
     font-weight: 400;
     vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
     font-family: "Lato", sans-serif;
     font-size: 18px;
     font-weight: 400;
     letter-spacing: 3px;
     vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
     list-style: none;
     padding: 0;
     margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li {
     font-family: "Lato", sans-serif;
     font-size: 18px;
     padding: 15px 0;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
     transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;
     -ms-transition: all 0.3s ease-in-out 0s;
     -o-transition: all 0.3s ease-in-out 0s;
     -webkit-transition: all 0.3s ease-in-out 0s;

}

#generic_price_table .generic_content .generic_feature_list ul li .fa {
     padding: 0 10px;
}

#generic_price_table .generic_content .generic_price_btn {
     margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a {
     border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     -webkit-border-radius: 50px;
     display: inline-block;
     font-family: "Lato", sans-serif;
     font-size: 18px;
     outline: medium none;
     padding: 12px 30px;
     text-decoration: none;
     text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a {
     transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;
     -ms-transition: all 0.3s ease-in-out 0s;
     -o-transition: all 0.3s ease-in-out 0s;
     -webkit-transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 320px) {}

@media (max-width: 767px) {
     #generic_price_table .generic_content {
          margin-bottom: 75px;
     }
}

@media (min-width: 768px) and (max-width: 991px) {
     #generic_price_table .col-md-3 {
          float: left;
          width: 50%;
     }

     #generic_price_table .col-md-4 {
          float: left;
          width: 50%;
     }

     #generic_price_table .generic_content {
          margin-bottom: 75px;
     }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

#generic_price_table_home {
     font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a {
     color: #7885CB;
     font-size: 30px;
     font-weight: 300;
     text-decoration: none;
}

.demo-pic {
     margin: 0 auto;
}

.demo-pic:hover {
     opacity: 0.7;
}

#generic_price_table_home ul {
     margin: 0 auto;
     padding: 0;
     list-style: none;
     display: table;
}

#generic_price_table_home li {
     float: left;
}

#generic_price_table_home li+li {
     margin-left: 10px;
     padding-bottom: 10px;
}

#generic_price_table_home li a {
     display: block;
     width: 50px;
     height: 50px;
     font-size: 0px;
}

#generic_price_table_home .blue {
     background: #3498DB;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .emerald {
     background: #2ECC71;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .grey {
     background: #7F8C8D;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .midnight {
     background: #34495E;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .orange {
     background: #E67E22;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .purple {
     background: #9B59B6;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .red {
     background: #E74C3C;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .turquoise {
     background: #1ABC9C;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .divider {
     border-bottom: 1px solid #ddd;
     margin-bottom: 20px;
     padding: 20px;
}

#generic_price_table_home .divider span {
     width: 100%;
     display: table;
     height: 2px;
     background: #ddd;
     margin: 50px auto;
     line-height: 2px;
}

#generic_price_table_home .itemname {
     text-align: center;
     font-size: 50px;
     padding: 50px 0 20px;
     border-bottom: 1px solid #ddd;
     margin-bottom: 40px;
     text-decoration: none;
     font-weight: 300;
}

#generic_price_table_home .itemnametext {
     text-align: center;
     font-size: 20px;
     padding-top: 5px;
     text-transform: uppercase;
     display: inline-block;
}

#generic_price_table_home .footer {
     padding: 40px 0;
}

.price-heading {
     text-align: center;
}

.price-heading h1 {
     color: #666;
     margin: 0;
     padding: 0 0 50px 0;
}

.demo-button {
     background-color: #333333;
     color: #ffffff;
     display: table;
     font-size: 20px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     margin-bottom: 50px;
     outline-color: -moz-use-text-color;
     outline-style: none;
     outline-width: medium;
     padding: 10px;
     text-align: center;
     text-transform: uppercase;
}

.bottom_btn {
     background-color: #333333;
     color: #ffffff;
     display: table;
     font-size: 28px;
     margin: 60px auto 20px;
     padding: 10px 25px;
     text-align: center;
     text-transform: uppercase;
}

.demo-button:hover {
     background-color: #666;
     color: #FFF;
     text-decoration: none;

}

.bottom_btn:hover {
     background-color: #666;
     color: #FFF;
     text-decoration: none;
}


/*--------Redes Sociales--------------*/
.panel {
     background-color: #fff;
     border-radius: 10px;
     padding: 15px 25px;
     position: relative;
     width: 100%;
     z-index: 10;
}

.pricing-table {
     box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
     display: flex;
     flex-direction: column;
}

@media (min-width: 900px) {
     .pricing-table {
          flex-direction: row;
     }
}

.pricing-table * {
     text-align: center;
     text-transform: uppercase;
}

.pricing-plan {
     border-bottom: 1px solid #e1f1ff;
     padding: 25px;
}

.pricing-plan:last-child {
     border-bottom: none;
}

@media (min-width: 900px) {
     .pricing-plan {
          border-bottom: none;
          border-right: 1px solid #e1f1ff;
          flex-basis: 100%;
          padding: 25px 50px;
     }

     .pricing-plan:last-child {
          border-right: none;
     }
}

.pricing-img {
     margin-bottom: 25px;
     max-width: 100%;
}

.pricing-header {
     color: #888;
     font-weight: 600;
     letter-spacing: 1px;
}

.pricing-features {
     color: #016FF9;
     font-weight: 600;
     letter-spacing: 1px;
     margin: 50px 0 25px;
}

.pricing-features-item {
     border-top: 1px solid #e1f1ff;
     font-size: 12px;
     line-height: 1.5;
     padding: 15px 0;
}

.pricing-features-item:last-child {
     border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
     color: #016FF9;
     display: block;
     font-size: 32px;
     font-weight: 700;
}

.pricing-button {
     border: 1px solid #9dd1ff;
     border-radius: 10px;
     font-size: 15px;
     color: #348EFE;
     display: inline-block;
     margin: 25px 0;
     padding: 15px 35px;
     text-decoration: none;
     transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
     background-color: #e1f1ff;
}

.pricing-button.is-featured {
     background-color: #48aaff;
     color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
     background-color: #269aff;
}