RewriteEngine On

# Redirigir URL sin la extensión .php a las páginas PHP correspondientes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirigir las búsquedas que incluyan la extensión .php
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

# Reglas de reescritura existentes
RewriteRule ^login$ login.php [L]
RewriteRule ^home$ home.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^shop$ shop.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^orders$ orders.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^search_page$ search_page.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^checkout$ checkout.php [L]
RewriteRule ^cart$ cart.php [L]
RewriteRule ^admin_users$ admin_users.php [L]
RewriteRule ^admin_products$ admin_products.php [L]
RewriteRule ^admin_page$ admin_page.php [L]
RewriteRule ^admin_orders$ admin_orders.php [L]
RewriteRule ^add_to_cart$ add_to_cart.php [L]